%nav.navbar.navbar-expand-lg.bg-white.navbar-light.shadow.sticky-top.p-0
  %a.navbar-brand.d-flex.align-items-center.px-4.px-lg-5{:href => "index.html"}
    %h2.m-0.text-primary
      %i.fa.fa-book.me-3>
      eLEARNING
  %button.navbar-toggler.me-4{"data-bs-target" => "#navbarCollapse", "data-bs-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    .navbar-nav.ms-auto.p-4.p-lg-0
      %a.nav-item.nav-link.active{:href => "index.html"} Home
      %a.nav-item.nav-link{:href => "about.html"} About
      %a.nav-item.nav-link{:href => "courses.html"} Courses
      .nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-bs-toggle" => "dropdown", :href => "#"} Pages
        .dropdown-menu.fade-down.m-0
          %a.dropdown-item{:href => "team.html"} Our Team
          %a.dropdown-item{:href => "testimonial.html"} Testimonial
          %a.dropdown-item{:href => "404.html"} 404 Page
      %a.nav-item.nav-link{:href => "contact.html"} Contact
    %a.btn.btn-primary.py-4.px-lg-5.d-none.d-lg-block{:href => ""}
      Join Now
      %i.fa.fa-arrow-right.ms-3
